<footer class="footer">
    dale.io, 2009 - 2016. <a href="https://twitter.com/obsoke" target="_blank">t</a> / <a href="https://github.com/obsoke" target="_blank">g</a> / <a href="https://keybase.io/dalekarp" target="_blank">k</a>
</footer>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-3039158-3', 'auto');
ga('send', 'pageview');
</script>
