---
---
// base16 - dark
$base00: #181818;
$base01: #282828;
$base02: #383838;
$base03: #585858;
$base04: #b8b8b8;
$base05: #d8d8d8;
$base06: #e8e8e8;
$base07: #f8f8f8;
$base08: #ab4642;
$base09: #dc9656;
$base0A: #f7ca88;
$base0B: #a1b56c;
$base0C: #86c1b9;
$base0D: #7cafc2;
$base0E: #ba8baf;
$base0F: #a16946;

// Our variables
$base-font-family: 'Open Sans', sans-serif;

$main-text-colour: $base05;
$main-background-colour: $base00;
$alt-text-colour:  $base04;
$alt-background-colour: $base01;

$base-font-size: 1.1em;
$mobile-font-size: 1em;
$nav-font-size: 1.25em;

$line-height: 1.5;

$link-colour: $base09;
/* $accent-colour: $base0C; */
$accent-colour: $base0C;

// Width of the content area
$content-width:    800px;
$content-width-small: 550px;

$on-palm:          575px;
$on-laptop:        800px;

body {
    font-family: $base-font-family;
    color: $main-text-colour;
    background-color: $main-background-colour;
    font-size: $mobile-font-size;

    padding: 0;
    margin: 0;
    @media (min-width: $on-laptop) {
        font-size: $base-font-size;
    }
}

a {
    color: $link-colour;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    margin: 1em 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;

    .logo-link {
        display: block;
        text-align: center;
    }

    .logo {
        border: 2px solid $accent-colour;
        border-radius: 50%;
        text-align: center;
        margin: 20px 0 10px;
    }

    .nav {
        font-size: $nav-font-size;

        list-style: none;
        padding-left: 0;

        display: flex;

        a {
            padding: 0.25em 0.25em;
            text-transform: uppercase;
        }

        li {
            margin: 1em;
        }
    }

    @media (min-width: $on-laptop) {
        justify-content: space-between;

        .nav {
            flex-direction: row;
            justify-content: center;

            li {
                display: inline-block;
                padding-right: 15px;
            }
        }
    }

}

footer {
    padding: 30px;
    text-align: center;
    font-size: small;
}

.wrapper {
    padding: 0 10px;

    @media (min-width: $on-palm) {
        width: $content-width-small;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: $on-laptop) {
        width: $content-width;
        padding: 0 20px;
    }
}


.content {
    line-height: $line-height;
}

.blogs {
    .blog-header {
        margin-bottom: 2px;
    }

    .blog-meta {
        font-size: small;
    }

    /* thanks to https://css-tricks.com/examples/hrs/ for the hr style */
    .blog-list-sep {
        margin-top: 20px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right,
                                          rgba(0, 0, 0, 0),
                                          rgba($accent-colour, 0.75),
                                          rgba(0, 0, 0, 0)
                                         );
    }

    .rss-subscribe {
        text-align: center;
        padding: 20px 0;
    }
}

.post {
    .post-header {
        text-align: center;
        font-style: italic;
    }

    .post-header-image {
        width: 100%;
        border: 1px solid #333;
    }

    .post-date {
        color: $alt-text-colour;
        margin-bottom: 0;
    }

    .old-post-warning {
        color: $alt-text-colour;
        background-color: $alt-background-colour;
        padding: 0.5em;
        border-radius: 5px;
        font-style: italic;
    }
}

.resume {
    font-size: 1em;

    p {
        margin: 0.5em 0;
    }

    .resume-header {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media(min-width: $on-laptop) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }
    }

    .name {
        font-size: 4em;
        margin: 0.25em 0;
    }

    .meta ul {
        list-style: none;
        padding-left: 0;
    }

    /* basic method taken from https://jsfiddle.net/crs8yenu/ & tweaked */
    .section-title {
        width: 100%;
        height: 20px;
        border-bottom: 1px solid $accent-colour;
        text-align: center;
        margin-bottom: 2em;

        span {
            font-size: 30px;
            background-color: $main-background-colour;
            padding: 0 10px;
        }
    }

    .experience {
        .experience-item  {
            margin-bottom: 2em;
        }

        .experience-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (min-width: $on-laptop) {
                flex-wrap: wrap;
                flex-direction: row;
            }
        }

        .position {
            order: 2;

            @media (min-width: $on-laptop) {
                width: 50%;
            }
        }

        .location {
            order: 3;

            @media (min-width: $on-laptop) {
                width: 50%;
                text-align: right;
            }
        }

        .employer {
            order: 1;

            @media (min-width: $on-laptop) {
                width: 50%;
            }
        }

        .duration {
            order: 4;

            @media (min-width: $on-laptop) {
                width: 50%;
                text-align: right;
                order: 2;
                font-weight: bold;
            }
        }
    }

    .skills {
        margin-bottom: 2em;

        .skill-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;

            @media (min-width: $on-laptop) {
                flex-direction: row;
                margin-bottom: 0.5em;
            }
        }
    }

}

.print {
    padding: 1.5em 0;
    text-align: center;
}

code:not([class^="language-"]) {
    color: $alt-text-colour;
    background-color: $alt-background-colour;
    padding: 0.25em;
}

@media print {
    body, a {
        color: black;
        background-color: white;
    }

    header, footer, .print {
        display: none;
    }

    .resume {
        .section-title {
            border-bottom: 1px solid black;
        }
    }

    strong {
        font-weight: normal;
        font-style: italic;
    }
}